/* Améliorations pour l'affichage mobile */

.fi-fo-rich-editor {
    min-height: 150px !important;
}

.fi-fo-rich-editor .ProseMirror {
    min-height: 100px !important;
    font-size: 16px !important;
}


/* Fixes pour les selects sur mobile */

.choices {
    margin-bottom: 0 !important;
}

.choices__inner {
    min-height: 45px !important;
    padding: 6px 8px !important;
}

.choices__input {
    font-size: 16px !important;
    min-height: 30px !important;
}

.choices__list--multiple .choices__item {
    font-size: 14px !important;
    padding: 4px 8px !important;
    margin: 2px !important;
}


/* Amélioration de la hauteur des textarea */

textarea.fi-input {
    min-height: 100px !important;
    font-size: 16px !important;
    line-height: 1.5 !important;
}


/* Ajustements pour le mode sombre */

.dark .choices__inner {
    background-color: rgb(31, 41, 55) !important;
    border-color: rgb(75, 85, 99) !important;
}

.dark .choices__input {
    background-color: transparent !important;
    color: rgb(209, 213, 219) !important;
}

.dark .choices__list--multiple .choices__item {
    background-color: rgb(59, 130, 246) !important;
    border-color: rgb(37, 99, 235) !important;
}